#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.contSlider{
    text-align: left;
    display: flex;
    padding-top: 3em;
}

label{
    margin-right: 1em;
    min-width: 4em;
    font-weight: bolder;
}

.sliders{
    padding-top: 2em;
}

.frame {
    border-radius: 10px;
    height: 350px;
    width: 350px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

