#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.contSlider{
    text-align: left;
    display: flex;
    padding-top: 3em;
}

label{
    margin-right: 1em;
    min-width: 4em;
    font-weight: bolder;
}

.sliders{
    padding-top: 2em;
}

.frame {
    border-radius: 10px;
    height: 350px;
    width: 350px;
}
